{% load cache %}

{% cache 500 cache_footer %}
<footer class="footer">
    <div class="footer__box">
        <div class="footer__info d-flex">
            <h4>Общая информация</h4>
            <a href="">О нас</a>
            <a href="">Контакты</a>
        </div>
        <div class="footer__info d-flex">
            <h4>Ссылки</h4>
            <a href="">Товары</a>
            <a href="">Акции</a>
            <a href="">Менеджер</a>
        </div>
        <div class="footer__link d-flex">
            <a href=""><i class='bx bxl-facebook-square'></i></a>
            <a href=""><i class='bx bxl-instagram-alt'></i></a>
            <a href=""><i class='bx bxl-github'></i></a>
            <a href=""><i class='bx bxl-twitter'></i></a>
            <a href=""><i class='bx bxl-pinterest'></i></a>
        </div>
    </div>
</footer>
{% endcache %}