{% load cache %}

{% cache 500 cache_support %}
<section class="support">
    <div class="support__box d-flex">
        <div class="support__info">
            <h2>Форма обратной связи</h2>
            <p>Если у вас возникли вопросы напишите ваш Email, и с вами свяжется менеджер.</p>
        </div>
        <div class="support__form">
            <form action="">
                <div class="form__box">
                    <input type="email" placeholder="Адрес электронной почты" class="support__input">
                    <input type="submit" value="Отправить" class="btn btn-support"/>
                </div>
            </form>
        </div>
    </div>
</section>

{% endcache %}